// All the Typography settings here
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    @include font-Mark-Light;
    @include font-size(2.1rem);
    line-height: 1.476;
    color: $color-dark;
}
h1{
    @include font-Mark-Light;
    @include font-size(6.9rem);
    line-height: .91em;
    margin: 0 0 18px;
    color: $color-blue;

    span{
        @include font-Mark-Bold;
    }
}
h2{
    @include font-Mark-Light;
    @include font-size(3.7rem);
    line-height: 1.135em;
    margin: 0 0 18px;
    color: $color-blue;

    span{
        @include font-Mark-Bold;
    }
}
a{
    color: $color-blue;
}
strong,
b{
    @include font-Mark-Bold;
}
sup{
    font-size: .7em;
}
