@mixin font-Mark-Light {
    font-family: 'FF Mark Pro Light', sans-serif;
    font-weight: 300;
}
@mixin font-Mark-Bold {
    font-family: 'FF Mark Pro Bold', sans-serif;
    font-weight: 700;
}

/* @mixin font-Montserrat-Light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@mixin font-Montserrat-Bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} */
